<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kedro Flask API</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body data-flash='{{ messages|tojson|safe }}'>
    <div class="container mt-5">
        <h1 class="text-center">Kedro Flask API</h1>
        <form id="predictForm" action="/predict" method="post" enctype="multipart/form-data" class="needs-validation mt-4" novalidate>
            <div class="form-group">
                <label for="predictFile">Upload sample data (CSV):</label>
                <input type="file" class="form-control-file" id="predictFile" name="file" accept=".csv" required>
                <div class="invalid-feedback">Please upload a CSV file.</div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Get Prediction</button>
        </form>
        <br>
        <a href="/aggregate" class="btn btn-secondary btn-block">Aggregate Data</a>
    </div>

    <script>
        const flashData = document.body.dataset.flash;
        if (flashData) {
            const flash = JSON.parse(flashData);
            const { error, success } = flash;

            if (error || success) {
                Swal.fire({
                    icon: success ? "success" : "error",
                    showConfirmButton: false,
                    title: success ? success : error,
                    toast: true,
                    position: 'top-end',
                    timer: 5000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                        toast.onclick = () => {
                            Swal.close();
                        }
                    }
                });
            }
        }
    </script>
</body>

</html>
